.badge {
  display: inline-block;
  padding: 0.5em 1em;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  color: red;
}

//status
.success {
  color: #fff;
  background-color: #3DDC97;
}

.danger {
  color: #fff;
  background-color: #e05260;
}

.warning {
  color: #212529;
  background-color: #ffffb3;
}

.info {
  color: #fff;
  background-color: #77deee;
}
