.badge {
  display: inline-block;
  padding: 0.5em 1em;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  color: red;
}

//status
.success {
  color: #fff;
  background-color: #28a745;
}

.danger {
  color: #fff;
  background-color: #dc3545;
}

.warning {
  color: #212529;
  background-color: #ffc107;
}

.info {
  color: #fff;
  background-color: #17a2b8;
}
